#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

[mariadb]
query_cache_type=1
query_cache_size = 10M
query_cache_limit=256K
